parameters:
  level: 5
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
    - ../../lib/init.php
    - ../../lib/moodlelib.php
    - ../../lib/accesslib.php
  paths:
    - .
  scanDirectories:
    # Moodle
    - ../..
    # Totara
    # - ../../..
  excludePaths:
    - vendor
  ignoreErrors:
    -
      message: '#Variable \$plugin might not be defined.#'
      path: version.php
    -
      message: '#(.*)should be compatible with parameter \$default_values \(array\|stdClass\) of method moodleform::set_data\(\)#'
      paths:
        - classes/form/*
    - '#Parameter \#2 \$paramtype of method MoodleQuickForm::setType\(\) expects int, string given.#'
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
  typeAliases:
    # Expanded looks like:
    # array{
    #     'learneremail': array{
    #         'defaults': array{
    #             'email': int,
    #             'popup': int
    #         }
    #     },
    #     'manageremail': array{
    #         'defaults': array{
    #             'email': int,
    #             'popup': int
    #         }
    #     }
    # }
    NudgeMessageProviders: "array{'learneremail': array{'defaults': array{'email': int,'popup': int}},'manageremail': array{'defaults': array{'email': int,'popup': int}}}"
  universalObjectCratesClasses:
    - core\message\message