<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO: Code coverage -->
<!-- TODO: https://docs.moodle.org/dev/Writing_PHPUnit_tests#Generating_include_and_exclude_configuration -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../lib/phpunit/phpunit.xsd"
        bootstrap="../../../lib/phpunit/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        backupGlobals="false"
        backupStaticAttributes="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testdox="true"
>

    <testsuites>
        <testsuite name="local_nudge_testsuite">
            <directory suffix="_test.php">./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../../classes</directory>
        </whitelist>
    </filter>
</phpunit>
